<html>

<head>
    <title>

    </title>
    <!-- <script type="text/javascript" src="/../js/alls.js"></script> -->
</head>

<body>
    <form action="/contact" method="POST">
        email:<input type="text" name="username"><br> password:
        <input type="text" name="password"><br> mobile:
        <input type="text" name="mobile"><br>
        <input type="submit" name="submit" value="submit">
    </form>
</body>

</html>