<html>

<head>
    <script type="text/javascript" src="/../js/main.js"></script>
    <!-- <script type="text/javascript" src="/../js/add.js"></script> -->
    <link href="/../css/head.css" rel="stylesheet">
</head>

<body onload="showList()">

    <div id="header">
        TV CUSTOMERS
    </div>
    <button onclick="addUser()" class="add">Add</button>
    <div id="content">


    </div>

    <div id="footer">
        Footer.....
    </div>

</body>

</html>