<!DOCTYPE html>

</html>

<head>
    <title>Pioneer Coders CRUD Node.js-MySQL</title>
    <link href="/../css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/../js/all.js"></script>
    <form class="logout" method="get" action="/">
        <input type="submit" name="submit" value="logout" required>
    </form>
</head>

<body>
    <div id="wrapper">
        <div class="page-header">
            <h2>
                <%=page_title%>
            </h2>
        </div>
        <div class="page-container">