<html>

<head>
    <script type="text/javascript" src="/../js/main.js"></script>
    <!-- <script type="text/javascript" src="/../js/script.js"></script> -->
</head>

<body onload="showList()">

    <div id="header">
        Header ..
    </div>
    <div id="content">
        content area..
    </div>

    <div>
        Footer.....
    </div>

</body>

</html>